<h1>Tweet <%= @tweet.id %></h1>

<strong>Status:</strong><br>
<p><%= @tweet.status %></p>

<strong>Created At</strong>
<p><%= @tweet.created_at %></p>

<%= link_to 'Back', user_tweets_path %> |
<%= link_to 'Edit', edit_user_tweet_url(@user, @tweet) %>