<h1><%= @user.username %> Profile</h1>
<p><strong><%= @user.bio %></strong></p
<div class="img img-thumbnail"><%= image_tag @user.profile_picture, class:"profile" %></div>
<table class="table table-striped table-hover">
	<h2>Tweets</h2>
	<thead>
		<tr>
			<td>#</td>
			<td>Status</td>
			<td>Date Created</td>
		</tr>
	</thead>
	<tbody>
	<% @tweets.each do |tweet| %>
		<tr>
			<td><%= tweet.id %></td>
			<td><%= tweet.status %></td>
			<td><%= tweet.created_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>